<div layout="column" layout-align="center center">
    <md-card class="mainPanel" flex>
        <div layout="row">
            <md-card flex class="container">
                <h4 class="md-display-1">Meus Dados</h4>
                <div layout="row">
                    <span flex>
                        <label class="tc-grey-500"><small>Nome</small></label>
                        <p>{{ collaborator?.name }}</p>
                    </span>

                    <span flex>
                        <label class="tc-grey-500"><small>Email</small></label>
                        <p>{{ collaborator?.email }}</p>
                    </span>
                </div>

                <div layout="row">
                    <span flex>
                        <label class="tc-grey-500"><small>Apelido</small></label>
                        
                        <div layout="row">
                            <p>{{ collaborator?.nickname }}</p>
                            <button md-icon-button (click)="editNickname()"><md-icon>edit</md-icon></button>
                        </div>
                    </span>

                    <span flex>
                        <label class="tc-grey-500"><small>Tag Code</small></label>
                        <p>{{ collaborator?.tagCode }}</p>
                    </span>
                </div>
            </md-card>
        </div>

        <div layout="row">
            <timesheet flex [collaborator]="collaborator" [admin]="false" *ngIf="collaborator != null"></timesheet>
        </div>
    </md-card>
</div>